*.conf
*.db
*.log
*.sqlite
*.txt
*.xml
*.db-journal
*.crt
*.key
*.pem
*.old
*.db-shm
*.db-wal
*.swp
.HA_VERSION
known_devices.yaml
www/images
secrets.yaml
entity_registry.yaml
.cloud
.uuid
tts/
.storage
