*.conf
*.db
*.log*
*.sqlite
*.txt
*.xml
*.db-journal
*.crt
*.key
*.pem
*.old
*.db-shm
*.db-wal
*.swp
.HA_VERSION
www/images
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
.cloud
.uuid
tts/
.storage
